#exchanges{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.exchange{
    border: 2px solid tomato;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}

#coins{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.coin{
    border: 2px solid tomato;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
}